.header .loggedin {
  font-size: 2rem;
  padding: 10px;
  position: relative;
  top: 5px;
  left: 155%;
}
.header .login {
  font-size: 2rem;
  padding: 10px;
  position: relative;
  top: 5px;
  left: 200%;
}

.header .admin_loggedin {
  font-size: 1.5rem;
  padding: 5px;
  margin-right: 5px;
  position: relative;
  top: 5px;
  left: 100%;

}

.header .admin_loggedin_right {
  font-size: 1.5rem;
  padding: 5px;
  position: relative;
  top: 5px;
  left: 280%;
  
}
.notice {
  max-width: 50%;
  margin: auto;
  text-align: center;
  background-color: #BAD3FF;
  color: #666666;
  font-size: 2rem;
  padding: 10px;
}
.danger {
  max-width: 50%;
  margin: auto;
  text-align: center;
  background-color: #FADBDA;
  font-size: 2rem;
  color: #666666;
  padding: 10px;
}