// index 共通処理
.index {
  max-width: 60%;
  margin: auto;
  position: relative;
  left: 50px;
}

// user
.index .user_name {
  width: 250px;
}
.index .user_email {
  width: 250px;
}

// task
.index .task_title {
  width: 250px;
}

.index .task_content {
  width: 250px;
}
.index .task_end_date {
  width: 250px;
}

.index .inline {
  display: inline;
}

.index input {
  margin-right: 1px;
}

.index select {
  margin-right: 1px;
}
.index .h-25{
  height: 1% !important;
  margin: 10px;
}

.index td {
  padding: 5px;
}

.index .border-header{
  border-bottom:1px solid #ccc;
}

.index .border-content{
  border-bottom:1px dashed #ccc;
}
